extends base

block content
  +render_panel(2)
  .content
    .experience 
      h2 My experience
      p I actively work with MERN stack (mongodb, express, react, node), also for creating markup i use gulp, inside it: pug, sass and js. I have been using JavaScript in my projects for 2 years. For state managment i use git, you can watch my github in the main page. And i have upper intermediate level in English, but every day i try to improve my skills.
      a(href='/contacts') Contact with me