extends base

block content
  +render_panel(1)
  .content
    .projects 
      h2
      .projects__wrap 
        img(src='', alt="main") 
        ul.projects__wrap-categories
      .projects__btns 
        a(href='', target='_blank') Watch demo
        div
          img(src="/images/arrow.png", alt="arrow")